[Unit]
Description=User Auth Backend
After=kafka.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill auth
ExecStartPre=-/usr/bin/docker rm auth
ExecStartPre=-/usr/bin/docker pull bankofse/auth-user
ExecStart=/usr/bin/docker run --name auth -P bankofse/auth-user
